*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: initial;
}

h1 {
  font-family: Raleway;
  font-size: 15vmin;
  margin: 5vh 0 0 10vmin;
  color: #fff;
}
.front {
  width: 100vw;
  height: 100vh;
  background-color: #282828;
}
nav {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 80vw;
  height: 14vmin;
  justify-content: space-evenly;
  left: 50%;
  transform: translateX(-50%);
}
nav a{
  font-family: Muli;
  font-size: 6vmin;
  color: white;
}
